.m-actionsheet-box,
.m-shade-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.m-shade-layer {
  z-index: 0;
  background-color: rgba(0,0,0,0.1);
  opacity: 0;
}
.m-shade-layer.m-shade-layer-fade {
  transition: opacity 0.3s;
  opacity: 1;
}
.m-actionsheet-box {
  position: fixed;
  z-index: 19940501;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.m-actionsheet-box .m-actionsheet-body {
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: -170px;
  width: 100%;
  transition: bottom 0.3s;
}
.m-actionsheet-box .m-actionsheet-body.m-actionsheet-body-fade {
  transition: all 0.3s;
  bottom: 10px;
}
.m-actionsheet-box .m-actionsheet-body .m-actionsheet-cnt {
  padding-left: 10px;
  padding-right: 10px;
}
.m-actionsheet-box .m-actionsheet-body .m-actionsheet-cnt ul {
  list-style: none;
}
.m-actionsheet-box .m-actionsheet-body .m-actionsheet-cnt ul li {
  color: #027cff;
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}
.m-actionsheet-box .m-actionsheet-body .m-actionsheet-cnt ul li:first-child {
  border-top: none;
  border-radius: 5px 5px 0 0;
}
.m-actionsheet-box .m-actionsheet-body .m-actionsheet-cnt ul li:nth-last-child(2) {
  border-radius: 0 0 5px 5px;
}
.m-actionsheet-box .m-actionsheet-body .m-actionsheet-cnt ul li:last-child {
  margin-top: 10px;
  border-radius: 5px;
  font-weight: 700;
}
